// fonts
$bebas: 'Bebas Neue', 'cursive';
$bodoni: 'Libre Bodoni', serif;

// colors

$white-primary: rgba(226, 226, 201, 0.993);
$twitterBlue: #00a0f5;
$pearlGrey: #d5d5d5;

$deepRed: #420101;
$rustyRed: #bd1010;
$tomatoRed: #e95626;

$blackboard: #3e5b65;
$eggYellow: #eab052;
$lightGreyBlue: #a0c0cf;
