@import 'core/mixins';
@import 'core/variables';
@import 'core/reset';

body {
  display: flex;
  background-color: rgba(20, 44, 180, 0.993);
  background-image: url('../images/background.jpg');
  background-repeat: repeat;
  background-size: contain;
}

.page__div {
  display: flex;
  justify-content: center;

  width: 100%;
}

#root {
  width: 100%;
}

.page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100%;

  &--img {
    width: 350px;
    align-items: center;
    @include tablet {
      width: 430px;
    }
    @include desktop {
      width: 700px;
    }
  }
}
