$col-primary: rgba(103, 103, 102, 0.658);
$corner-radius: 5px;
@import 'core/variables';

.page__container {
  display: flex;
  justify-content: center;

  &--button {
    width: 100%;
    border: 0px solid rgba(4, 4, 3, 0.66);
    background-color: rgba(47, 47, 47, 0.96);
    display: inline-block;
    position: relative;
    color: $white-primary;
    font-family: $bebas;
    transition: all 0.2s ease-in;
    padding: 12px;
    font-size: 20px;

    &:hover {
      color: $white-primary;
      box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
      background-color: $col-primary;
      transition: all 0.2s ease-out;

      &:before {
        animation: shine 0.5s 0s linear;
      }
    }

    &:active {
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow 0.2s ease-in;
    }

    &:before {
      content: '';
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      box-shadow: 0 0 15px 3px white;
      transform: skewX(-20deg);
    }
  }
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
