@import 'core/mixins';
@import 'core/variables';

.card__img {
  object-fit: cover;
  width: 160px;
  height: 180px;

  @include tablet {
    width: 160px;
    height: 200px;
  }
  @include desktop {
    width: 230px;
    height: 260px;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 4px;
  color: $white-primary;
  font-family: $bebas;
  @include tablet {
    font-size: 13px;
  }
  @include desktop {
    font-size: 28px;
  }
  &--name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.link {
  width: 100%;
  height: 50%;
}
