@import 'core/mixins';

.card__img {
  width: 120px;
  height: 170px;
  @include tablet {
    width: 160px;
    height: 200px;
  }
  @include desktop {
    width: 230px;
    height: 270px;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 4px;
  color: rgb(204, 204, 204);
  font-family: 'AvaraBold';
  @include tablet {
    font-size: 13px;
  }
  @include desktop {
    font-size: 18px;
  }
  &--name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
