@import 'core/mixins';
.page__div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.article {
  border: 10px rgba(206, 206, 206, 0.795) solid;
  background-image: url('../images/texture.jpeg');
  border-radius: 0.7em;
  // width: 65%;
  // height: 68%;
  margin: 30px;
  overflow-x: visible;
  font-family: 'Harry Potter', sans-serif;
  transition: ease 0.4s;
  margin-bottom: 100px;
  &:hover {
    transform: scale(0.9);
  }
  @include tablet {
    // width: 40%;
    // height: 600px;
  }
  @include desktop {
    // width: 35%;
    // height: 740px;
  }
  @media (min-width: 1680px) {
    // width: 25%;
    // height: 680px;
  }

  &__a {
    font-size: 12px;
    font-family: 'AvaraBold';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 1em;
    background-color: rgb(131, 1, 1);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    transition: ease-in 0.2s;
    @include tablet {
      width: 90px;
      height: 40px;
      font-size: 18px;
    }
    @include desktop {
      width: 100px;
      height: 50px;
      font-size: 20px;
    }
    &:hover {
      background-color: rgba(122, 0, 0, 0.753);
    }
    &--link {
      color: white;
    }
  }

  &__div {
    height: 70%;
    background-image: url('../images/backcard.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &__img {
    margin-top: 17px;
    object-fit: cover;
    border: 2px solid gray; // width: 120px;
    // height: 150px;
    // border-radius: 5em;
    @include tablet {
      // width: 170px;
      // height: 220px;
    }
    @include desktop {
      // width: 220px;
      // height: 300px;
      border-radius: 50%;
    }
  }

  &__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: rgb(100, 100, 100);

    &--imgHeart {
      width: 20px;
      @include tablet {
        width: 30px;
      }
      @include desktop {
        width: 50px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;

    &--status {
      margin: 5px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      border-radius: 0.2em;
      background: rgba(237, 237, 237, 0.212);
      background: radial-gradient(
        circle,
        rgba(237, 237, 237, 0.349) 0%,
        rgba(235, 221, 197, 0.486) 51%,
        rgba(205, 185, 147, 0.644) 100%
      );
      box-shadow: rgba(107, 103, 103, 0.568) 2px 2px 4px;
      @include tablet {
        font-size: 25px;
      }
      @include desktop {
        font-size: 33px;
      }
    }
    &--specie {
      margin: 5px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      border-radius: 0.2em;
      background: rgba(237, 237, 237, 0.212);
      background: radial-gradient(
        circle,
        rgba(237, 237, 237, 0.349) 0%,
        rgba(235, 221, 197, 0.486) 51%,
        rgba(205, 185, 147, 0.644) 100%
      );
      box-shadow: #6b67679a 2px 2px 4px;
      @include tablet {
        font-size: 25px;
      }
      @include desktop {
        font-size: 33px;
      }
    }
    &--gender {
      margin: 5px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      border-radius: 0.2em;
      background: rgba(237, 237, 237, 0.212);
      background: radial-gradient(
        circle,
        rgba(237, 237, 237, 0.349) 0%,
        rgba(235, 221, 197, 0.486) 51%,
        rgba(205, 185, 147, 0.644) 100%
      );
      box-shadow: #6b67679a 2px 2px 4px;
      @include tablet {
        font-size: 25px;
      }
      @include desktop {
        font-size: 33px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;

    padding-top: 20px;

    &--imgHouse {
      margin-bottom: 10px;

      width: 70px;
      @include tablet {
        width: 90px;
      }
    }
    &--name {
      width: 80px;
      font-size: 22px;
      margin-left: 20px;
      color: white;
      @include tablet {
        width: 170px;
        font-size: 30px;
      }
      @include desktop {
        width: 200px;
        font-size: 35px;
      }
    }
  }
}
