@import 'core/mixins';
@import 'core/variables';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    padding: 22px 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    font-family: $bodoni;
    background-color: rgba(45, 45, 45, 0.903);

    &--content {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
      }
    }
    &--title {
      font-size: 50px;
      font-family: $bebas;
      color: $white-primary;
      @include tablet {
        font-size: 90px;
      }
    }
    &--divide {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      @include tablet {
        margin-left: 90px;
      }
    }
    @include tablet {
    }
  }
}
.line {
  width: 70%;
  background-color: rgba(100, 100, 100, 0.903);
  height: 1px;
  margin-bottom: 40px;
}

.line-v {
  height: 80%;
  width: 7px;
  background-color: $white-primary;
}
