@import 'core/mixins';
.container__filter {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  &--label {
    color: white;
    margin-right: 10px;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  &--input {
  }
}
